/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.hero-2{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	margin:30px;
}
.hero>img{
	 object-fit: cover;
}
.hero-2>button{
	background-color:red;
	color:white;
	padding:10px;
	border:none;
    border-radius:5px;
}
